<footer id="site-footer">
    <div class="map-slider">
        <img src="{{ theme.link }}/static/img/stockholm_karta.png">
        <img src="{{ theme.link }}/static/img/goteborg_karta.png">
        <img src="{{ theme.link }}/static/img/malmo_karta.png">
    </div>

    <div class="container">
        
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-12 col-sm-12">
                <p class="column-1-title widget-title">{{ __('Our mission is to provide the customer with a comfortable and smooth ride with a sense of luxury and exclusivity', 'tribusoft_limogroup') }}</p>
                <div class="column-1-cols">
                    <div>
                        <p>Limogroup Sweden AB</p>
                        <p>Linnégatan 52</p>
                        <p>114 54 Stockholm</p>
                    </div>

                    <div>
                        <p>Telefon: <a href="tel:+46 8 522 939 80">+46 8 522 939 80</a></p>
                        <p><a href="mailto:info@limogroup.se">info@limogroup.se</a></p>
                        <p>Orgnr: 559084-0418</p>
                    </div>

                    <div class="widgets">
                        {{ site_footer_column_1 }}
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                {{ site_footer_column_2 }}
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                {{ site_footer_column_3 }}
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                {{ site_footer_column_4 }}
            </div>
            
            <div class="col-lg-2 col-md-12 col-sm-12">
            
                <p class="widget-title">{{ __('Limogroup i sociala media', 'tribusoft_limogroup') }}</p>
                <p>{{ __('Vi vill ha en nära relation med våra kunder. Du hittar oss i de flesta sociala kanalerna', 'tribusoft_limogroup') }}</p>

                <div class="social-row">
                    <a href="https://www.youtube.com/watch?v=nMz2_FJa8ro"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="http://www.instagram.com/limogroupsweden/"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="http://www.facebook.com/limogroupsweden/"><i class="fab fa-facebook-f fa-2x"></i></a>
                </div>

                <a class="frame-button--yellow contact-form-link" href="/om-oss#contact-form-">{{ __('Request a callback', 'tribusoft_limogroup') }}</a>

                <div class="widgets">
                    {{ site_footer_column_5 }}
                </div>
            </div>
        </div>
    </div>
</footer>